<h1>User info</h1>

<tbody>
<tr>
<%if user.profile_image.attached? %>
<!--modelのuserで名前をprofile_imageにしているから -->
<%=image_tag user.get_profile_image(100,100)%>
<!--関数のためweidth,heightである。-->
<%else%>
<%=image_tag 'no_image',size:"100×100"%>
<% end %>
<th>name</th>
<%=user.name%>
<th>introduction</th>
<%=user.introduction%>
</tr>
<%=link_to"Edit",edit_user_path%>
<!--link_to は基本GET。画面が表示される。でもdeleteは消したく、でも画面は表示は必要なし。GETではなく、DELETEというHTTPメソッドを使ってあげて、消去できるようになる。-->

</tbody>

<h1>New book</h1>
<%=form_with model: Book.new do|f|%>
<!--=がないと枠そもそも作られない。-->
<%=f.text_field :Title%>
<%=f.text_area :Opinion%>
<%=f.submit'Create Book'%>
<% end %>
