<main>
 <%=flash[:notice]%>


<% if @user.errors.any?%>
<%=@user.errors.count %>error prohibited this obj from being saved:
<ul><%@user.errors.full_messages.each do |message|%> </ul>
<li><%=message%></li>
<%end%>
<%end%>



  <body>
  <div class="container px-5 px-sm-0">
   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5px-sm-0 mx-auto">

  <h2>User info<h2>
    <%=form_with model:@user,method: :patch do |f|%>
   <div class="form-group">
      <label for="inputName">Name</label></br>
       <%=f.text_field:name, autofoucus:true, id:"inputName",placeholder:"Name"%>
   </div>

   <div class="form-group">
      <label for="inputImage">Image</label></br>
        <%=f.file_field:profile_image, placeholder:"Image",accept:"profile_image/*"%>
   </div>

   <div class="form-group">
      <label for=“inputintroduction”>Introduction</label></br>
        <%=f.text_area:introduction ,autofoucus:true, id:"inputIntroduction",placeholder:"Introduction"%>
   </div>

     <div class="form-group">
        <%=f.submit"Update User"%>
     </div>
    </form>
    </div>
   </div>
  </div>
<%end%>
</body>
