
<% if @book.erros.any?%>
<%=@book.errours.count %>error prohibited this obj from being saved:
<ul> <%@book.errors.full_messages.each do |message|%>
<li><%=message %></li>
<%end%>



<h2>Editing book<h2>

<%=form_with model:book do |f|%>

 <label for="inputTitle">Title</label>
 <%=f.text_field:name, autofoucus:true, id"inputtitle" placeholder:"title"%>

 <label for="inputbody">Opinion</label>
 <%=f.text_area:body, autofoucus:true, id"inputbody" placeholder:"body"%>

 <%=f.submit"Update Book"%>
 <li><%=link_to"show",book_path%></li>|<li><%=link_to"back",books_path%></li>

 <%end%>
