<%=render'book',books:@book:%>

<h1>Book　detail</h1>
<!--プロフィール画像を保持しているのはBookersモデルに紐づけられたUserモデルよってbooker/user/get_profile _image(100,100)?-->
<%@book.each do |book|%>
  <%=image_tag booker.user.get_profile_image(100,100)%>
  <%=link_to book.user,"user/#{user.id}"%>
  <%=link_to book.title,"books/#{book.id}"%>
  <%=@books.body %>

 <% if @book.user==current_user %>
  <%=link_to “Edit”,edit_book_path(@book),method: :patch %>
  <%=link_to “Destroy”,book_path(@book),method: :delete "本当に消しますか？"%>
 <%end%>
<%end%>