<%=render'users/user',user:@book.user%>

<h1>Book　detail</h1>
<!--プロフィール画像を保持しているのはBookersモデルに紐づけられたUserモデルよってbooker/user/get_profile _image(100,100)?-->

  <%=image_tag @book.user.get_profile_image(100,100)%>
  <%=link_to @book.user.name,user_path(@book.user.id)%>
  <%=link_to @book.title,books_path(@book.id)%>
  <%=@book.body %>

 <% if @book.user.id==current_user %>
  <%=link_to “Edit”,edit_book_path(@book),method: :patch %>
  <%=link_to “Destroy”,book_path(@book),method: :delete,data: {confirm: "本当に消しますか？"}%>
 <%end%>
